<div class="container-fluid">
    <app-search-form (value) = "findingUser($event)"></app-search-form>
<div *ngIf="user;repository">

    <div class="card">
        <div class="card-body">
            <img src="{{ user.avatar_url }}" alt="" height="200px">
            <h2>{{ user.login }}</h2>
            <a href="{{ user.html_url }}" class="btn btn-info">View Repository</a>
            <p>Number of Repositories: {{  user.public_repos }}</p>
        </div>
    </div>
    <hr>
    <ol>
        <li *ngFor="let repo of repository">
            <h2>{{repo.html_url}}</h2>
        </li>
    </ol>
</div>
</div>